<input
type="file"
#cargarPartidaInput
[hidden]="true"
accept=".json"
name="files[]"
(change)="cargarPartida($event)"
/>
<div class="row">
    <div class="col-6">
        <div class="historical">
            <button (click)="preview_move()" [disabled]="checking_move == 0" title="Movimiento Anterior" class="btn btn-info col-4"><i class="fas fa-angle-left"></i></button>
            <button (click)="rotate_board()" title="Rotar Tablero" class="btn btn-secondary col-3 ml-2 mr-2"><i class="fas fa-sync"></i></button>
            <button (click)="next_move()" [disabled]="checking_move == current_move" title="Movimiento Siguiente" class="btn btn-info col-4"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>
    <div class="col-6">
        <table class="col-12">
            <tr>
                <td>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button title="Nueva - P vs P" class="btn btn-dark"><i class="fas fa-user"></i><i class="fas fa-user"></i></button>
                            <button title="Play PC" class="btn btn-default" (click)="play_pc()"><i class="fas fa-robot"></i><i class="fas fa-user"></i></button>
                            <button title="Nueva - IA vs IA" class="btn btn-default"><i class="fas fa-robot"></i><i class="fas fa-robot"></i></button>
                        </div>
                    </div>
                </td>
                <th class="text-right"><label><strong>Juegan:</strong></label></th>
                <td class="text-left"><label>&nbsp;<i class="fas fa-square white-turn" *ngIf="get_turn()=='white'"></i><i class="fas fa-square black-turn" *ngIf="get_turn()=='black'"></i></label></td>
                <th class="text-center"><label (click)="setTimeBlancas()"><strong>Blancas:</strong>&nbsp;{{tiempoBlancas}}</label></th>
                <th class="text-center"><label (click)="setTimeNegras()"><strong>Negras:</strong>&nbsp;{{tiempoNegras}}</label></th>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <table class="tablero">
            <tr *ngFor="let square_row of board.pieces; let row = index;">
                <td class="border-row" *ngIf="board.white_side" style="font-size: 10px;">{{cordsY[row]}}</td>
                <td class="border-row" *ngIf="!board.white_side" style="font-size: 10px;">{{cordsY[7-row]}}</td>
                <td class="square"
                *ngFor="let piece of square_row; let column = index;"
                (click)="move(row, column)"
                >
                <span class="{{ piece.image }}"></span>
                </td>
            </tr>
            <tr *ngIf="board.white_side">
                <td></td>
                <td *ngFor="let cordX of cordsX" class="border-column" style="font-size: 10px;">
                {{cordX}}
                </td>
            </tr>
            <tr *ngIf="!board.white_side">
                <td></td>
                <td *ngFor="let cordX of cordsXI" class="border-column" style="font-size: 10px;">
                {{cordX}}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <div class="row mt-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button (click)="undo_move()" title="Deshacer Movimiento" class="btn btn-info"><i class="fas fa-arrow-left"></i></button>
                                <button (click)="save_pgn()" title="Guardar Partida" class="btn btn-info"><i class="fas fa-save"></i></button>
                                <button title="Cargar Partida" class="btn btn-info" (click)="cargarPartidaInput.click()"><i class="fas fa-folder-open"></i></button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button title="Establecer Posición" class="btn btn-info" (click)="establecerPosicion()"><i class="fas fa-tools"></i></button>
                            </div>  
                            <div class="btn-group" role="group" aria-label="First group">
                                <button title="Aprender" class="btn btn-dark" *ngIf="learning" (click)="set_learning()"><i class="fas fa-graduation-cap"></i></button>
                                <button title="Aprender" class="btn btn-default" *ngIf="!learning" (click)="set_learning()"><i class="fas fa-graduation-cap"></i></button>
                            </div>   
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12" [innerHTML]="get_PGN()" style="overflow-y: auto; overflow-x: hidden; height: 200px;">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <table style="width: 100%; text-align: left;">
                        <tr>
                            <th colspan="2" style="text-align: center;">{{player_white}}</th>
                        </tr>
                        <tr>
                            <th>Capturas <strong *ngIf="(value_of_position.white_pieces - value_of_position.black_pieces > 0) && (value_of_position.white_pieces - value_of_position.black_pieces < 1039)">+{{value_of_position.white_pieces - value_of_position.black_pieces}}</strong></th>
                            <td>
                                <i *ngFor="let piece of board.captured_by_white" class="{{ piece.image }}" style="margin-left: 5px;"></i>
                            </td>
                        </tr>
                        <tr>
                            <th>Movilidad</th>
                            <td>
                                {{value_of_position.white_movility}}
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" style="text-align: center;">{{player_black}}</th>
                        </tr>
                        <tr>
                            <th>Capturas <strong *ngIf="(value_of_position.black_pieces - value_of_position.white_pieces > 0) && (value_of_position.black_pieces - value_of_position.white_pieces < 1039)">+{{value_of_position.black_pieces - value_of_position.white_pieces}}</strong></th>
                            <td>
                                <i *ngFor="let piece of board.captured_by_black" class="{{ piece.image }}" style="margin-left: 5px;"></i>
                            </td>
                        </tr>
                        <tr>
                            <th>Movilidad</th>
                            <td>
                                {{value_of_position.black_movility}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-3" *ngIf="editarPosicion">
            <div class="col-12">
                <table class="tablero">
                    <tr *ngFor="let row_square of board.buildingPieces; let row = index;">
                        <td class="square"
                        *ngFor="let piece of row_square; let column = index;"
                        (click)="selectBuildingPiece(row, column)"
                        >
                        <span class="{{ piece.image }}"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-12 text-center">
                <table style="width: 54vh; margin: auto;">
                    <tr>
                        <th class="text-right"><label><strong>Juegan:</strong></label></th>
                        <td class="text-left"><label>&nbsp;<i class="fas fa-square white-turn" (click)="set_next_turn()" *ngIf="next_turn=='white'"></i><i class="fas fa-square black-turn" (click)="set_next_turn()" *ngIf="next_turn=='black'"></i></label></td>        
                        <td>
                            <button title="Limpiar Tablero" (click)="cleanBoard()" class="btn btn-default mr-2"><i class="fas fa-eraser"></i><i class="fas fa-chess-board"></i></button>
                            <button title="Reiniciar Posición" (click)="resetBoard()" class="btn btn-default mr-2"><i class="fas fa-sync"></i><i class="fas fa-chess-board"></i></button>
                            <button title="Aceptar" (click)="finishSetPosition()" class="btn btn-success mr-2"><i class="fas fa-check-circle"></i></button>
                            <button title="Cancelar" (click)="cancelSetPosition()" class="btn btn-danger"><i class="fas fa-times-circle"></i></button>
                        </td>
                    </tr>
                </table>
                <table class="mt-2" style="width: 54vh; margin: auto;">
                    <tr>
                        <th class="text-right"><label><strong>Enroques Blancas:</strong></label></th>
                        <td class="text-left">&nbsp;<label (click)="white_queen_castling()" *ngIf="white_can_queen_castling" style="color: lime"><i class="fas fa-chess-queen"></i></label><label (click)="white_queen_castling()" *ngIf="!white_can_queen_castling" style="color: red;"><i class="fas fa-chess-queen"></i></label>&nbsp;<label (click)="white_king_castling()" *ngIf="white_can_king_castling" style="color: lime"><i class="fas fa-chess-king"></i></label><label (click)="white_king_castling()" *ngIf="!white_can_king_castling" style="color: red;"><i class="fas fa-chess-king"></i></label></td>
                    </tr>
                    <tr>
                        <th class="text-right"><label><strong>Enroques Negras:</strong></label></th>
                        <td class="text-left">&nbsp;<label (click)="black_queen_castling()" *ngIf="black_can_queen_castling" style="color: lime"><i class="fas fa-chess-queen"></i></label><label (click)="black_queen_castling()" *ngIf="!black_can_queen_castling" style="color: red;"><i class="fas fa-chess-queen"></i></label>&nbsp;<label (click)="black_king_castling()" *ngIf="black_can_king_castling" style="color: lime"><i class="fas fa-chess-king"></i></label><label (click)="black_king_castling()" *ngIf="!black_can_king_castling" style="color: red;"><i class="fas fa-chess-king"></i></label></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #pawnPromotionModalDialog let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        <strong>Promoción de Peón - Seleccione:</strong>
      </h4>
      <button type="button" class="close" (click)="d('Cross click')">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td
            *ngFor="let piece of board.piecesPromote"
            (click)="c(piece.name)" class="square"
          >
            <span class="{{ piece.image }}"></span>
          </td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="d('Cross click')">
        Cancelar
      </button>
      <button type="button" class="btn btn-success" (click)="c('ok')">
        Aceptar
      </button>
    </div>
  </ng-template>