<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: 14px;">
      <ion-label>
        <strong>Juegan:</strong>&nbsp;<i class="fas fa-square white-turn" *ngIf="get_turn()=='white'"></i><i class="fas fa-square black-turn" *ngIf="get_turn()=='black'"></i>
      </ion-label>&nbsp;&nbsp;
      <ion-label (click)="setTimeBlancas()">
        <strong>Blancas:</strong>&nbsp;{{tiempoBlancas}}
      </ion-label>&nbsp;&nbsp;
      <ion-label (click)="setTimeNegras()">
        <strong>Negras:</strong>&nbsp;{{tiempoNegras}}
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <table class="tablero">
        <tr *ngFor="let square_row of board.pieces; let row = index;">
          <td class="border-row" *ngIf="board.white_side" style="font-size: 10px;">{{cordsY[row]}}</td>
          <td class="border-row" *ngIf="!board.white_side" style="font-size: 10px;">{{cordsY[7-row]}}</td>
          <td class="square"
            *ngFor="let piece of square_row; let column = index;"
            (click)="move(row, column)"
          >
            <span class="{{ piece.image }}"></span>
          </td>
        </tr>
        <tr *ngIf="board.white_side">
          <td></td>
          <td *ngFor="let cordX of cordsX" class="border-column" style="font-size: 10px;">
            {{cordX}}
          </td>
        </tr>
        <tr *ngIf="!board.white_side">
          <td></td>
          <td *ngFor="let cordX of cordsXI" class="border-column" style="font-size: 10px;">
            {{cordX}}
          </td>
        </tr>
      </table>
    </ion-col>
    <ion-col size="6">
      <ion-row *ngIf="!editarPosicion">
        <ion-col size="6">
          <ion-list>
            <ion-list-header>
              <ion-label>
                <input
                  type="file"
                  #cargarPartidaInput
                  [hidden]="true"
                  accept=".json"
                  name="files[]"
                  (change)="cargarPartida($event)"
                />
                <ion-button (click)="undo_move()" title="Deshacer Movimiento" shape="round" size="small"><i class="fas fa-arrow-left"></i></ion-button>
              </ion-label>          
            </ion-list-header>
            <ion-item>
              <ion-label [innerHTML]="get_PGN()" style="overflow-y: auto; overflow-x: hidden; height: 110px;">
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="6">
            <table style="width: 100%; text-align: left;">
                <tr>
                    <th colspan="2" style="text-align: center;">{{player_white}}</th>
                </tr>
                <tr>
                    <th>Capturas <strong *ngIf="(value_of_position.white_pieces - value_of_position.black_pieces > 0) && (value_of_position.white_pieces - value_of_position.black_pieces < 1039)">+{{value_of_position.white_pieces - value_of_position.black_pieces}}</strong></th>
                    <td>
                        <i *ngFor="let piece of board.captured_by_white" class="{{ piece.image }}" style="margin-left: 5px;"></i>
                    </td>
                </tr>
                <tr>
                    <th>Movilidad</th>
                    <td>
                        {{value_of_position.white_movility}}
                    </td>
                </tr>
                <tr>
                    <th colspan="2" style="text-align: center;">{{player_black}}</th>
                </tr>
                <tr>
                    <th>Capturas <strong *ngIf="(value_of_position.black_pieces - value_of_position.white_pieces > 0) && (value_of_position.black_pieces - value_of_position.white_pieces < 1039)">+{{value_of_position.black_pieces - value_of_position.white_pieces}}</strong></th>
                    <td>
                        <i *ngFor="let piece of board.captured_by_black" class="{{ piece.image }}" style="margin-left: 5px;"></i>
                    </td>
                </tr>
                <tr>
                    <th>Movilidad</th>
                    <td>
                        {{value_of_position.black_movility}}
                    </td>
                </tr>
            </table>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!editarPosicion">
        <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-row style="width: 100%;">
                <ion-col size="5">
                  <ion-button (click)="preview_move()" [disabled]="checking_move == 0" title="Movimiento Anterior" expand="block" color="secondary"><i class="fas fa-angle-left"></i></ion-button>
                </ion-col>
                <ion-col size="2">
                  <ion-button (click)="rotate_board()" expand="block" title="Rotar Tablero" color="medium"><i class="fas fa-sync"></i></ion-button>
                </ion-col>
                <ion-col size="5">
                  <ion-button (click)="next_move()" [disabled]="checking_move == current_move" expand="block" title="Movimiento Siguiente" color="secondary"><i class="fas fa-angle-right"></i></ion-button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="editarPosicion">
          <ion-list-header>
            <ion-label>
              <strong>Piezas Disponibles:</strong>
            </ion-label>          
          </ion-list-header>
          <table class="tablero">
            <tr *ngFor="let row_square of board.buildingPieces; let row = index;">
              <td class="square" *ngFor="let piece of row_square; let column = index;"
                (click)="selectBuildingPiece(row, column)">
                <span class="{{ piece.image }}"></span>
              </td>
            </tr>
          </table>
        </ion-col>
        <ion-col size="12" *ngIf="editarPosicion">
          <table style="width: 54vh; margin: auto;">
            <tr>
              <th style="text-align: right;"><label><strong>Juegan:</strong></label></th>
              <td style="text-align: left;"><label>&nbsp;<i class="fas fa-square white-turn" (click)="set_next_turn()" *ngIf="next_turn=='white'"></i><i class="fas fa-square black-turn" (click)="set_next_turn()" *ngIf="next_turn=='black'"></i></label></td>        
              <td style="text-align: right;">
                <ion-button title="Limpiar Tablero" (click)="cleanBoard()" size="small" color="medium"><i class="fas fa-eraser"></i><i class="fas fa-chess-board"></i></ion-button>
                <ion-button title="Reiniciar Posición" (click)="resetBoard()" size="small" color="medium"><i class="fas fa-sync"></i><i class="fas fa-chess-board"></i></ion-button>
              </td>
            </tr>
          </table>
          <table style="width: 54vh; margin: auto;">
            <tr>
              <th style="text-align: right;"><label><strong>Enroques Blancas:</strong></label></th>
              <td style="text-align: left;">&nbsp;<label (click)="white_queen_castling()" *ngIf="white_can_queen_castling" style="color: lime"><i class="fas fa-chess-queen"></i></label><label (click)="white_queen_castling()" *ngIf="!white_can_queen_castling" style="color: red;"><i class="fas fa-chess-queen"></i></label>&nbsp;<label (click)="white_king_castling()" *ngIf="white_can_king_castling" style="color: lime"><i class="fas fa-chess-king"></i></label><label (click)="white_king_castling()" *ngIf="!white_can_king_castling" style="color: red;"><i class="fas fa-chess-king"></i></label></td>
            </tr>
            <tr>
              <th style="text-align: right;"><label><strong>Enroques Negras:</strong></label></th>
              <td style="text-align: left;">&nbsp;<label (click)="black_queen_castling()" *ngIf="black_can_queen_castling" style="color: lime"><i class="fas fa-chess-queen"></i></label><label (click)="black_queen_castling()" *ngIf="!black_can_queen_castling" style="color: red;"><i class="fas fa-chess-queen"></i></label>&nbsp;<label (click)="black_king_castling()" *ngIf="black_can_king_castling" style="color: lime"><i class="fas fa-chess-king"></i></label><label (click)="black_king_castling()" *ngIf="!black_can_king_castling" style="color: red;"><i class="fas fa-chess-king"></i></label></td>
            </tr>
            <tr>
              <td style="text-align: center;" colspan="2">
                <ion-button title="Aceptar" (click)="finishSetPosition()" size="small" color="success"><i class="fas fa-check-circle"></i></ion-button>
                <ion-button title="Cancelar" (click)="cancelSetPosition()" size="small" color="danger"><i class="fas fa-times-circle"></i></ion-button>
              </td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="logo-game-controller-b"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button title="Establecer Posición" (click)="establecerPosicion()"><i class="fas fa-pencil-alt"></i></ion-fab-button>
      <ion-fab-button title="Nueva - P2P"><i class="fas fa-user"></i> <i class="fas fa-user"></i></ion-fab-button>
      <ion-fab-button title="Nueva - P2C"><i class="fas fa-robot"></i> <i class="fas fa-user"></i></ion-fab-button>
      <ion-fab-button title="Nueva - C2C"><i class="fas fa-robot"></i> <i class="fas fa-robot"></i></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>